name: DcMateH5Api

# =========================
# 共同設定（避免重複）
# =========================
x-webapi-common: &webapi-common
  build:
    context: ../..
    dockerfile: Deploy/Docker/Dockerfile
  environment:
    ASPNETCORE_ENVIRONMENT: Development
    ASPNETCORE_URLS: http://+:5000

    # ---- JWT ----
    JwtSettings__Issuer: ${JWT_ISSUER}
    JwtSettings__Audience: ${JWT_AUDIENCE}
    JwtSettings__SecretKey: ${JWT_SECRET}

    # ---- 外部 DB ----
    ConnectionStrings__Connection: ${DB_CONN}

    # ---- Redis ----
    Redis__Connection: ${REDIS_CONN}
    Caching__UseRedis: ${USE_REDIS}
  depends_on:
    redis:
      condition: service_started
  networks:
    - back-net
  restart: unless-stopped

services:
  nginx:
    image: nginx:1.27-alpine
    container_name: DcMateH5ApiNginx
    ports:
      - "8081:8080"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - webapi1
      - webapi2
      - webapi3
    networks:
      - back-net
    restart: unless-stopped

  webapi1:
    <<: *webapi-common
    container_name: DcMateH5ApiWebApi1

  webapi2:
    <<: *webapi-common
    container_name: DcMateH5ApiWebApi2

  webapi3:
    <<: *webapi-common
    container_name: DcMateH5ApiWebApi3

  redis:
    image: redis:7-alpine
    container_name: DcMateH5ApiRedis
    command: ["redis-server", "--appendonly", "yes"]
    ports:
      - "16379:6379"
    volumes:
      - redis_data:/data
    networks:
      - back-net
    restart: unless-stopped

networks:
  back-net:
    driver: bridge

volumes:
  redis_data:
