name: Test Self Hosted Runner

on:
  workflow_dispatch: {}

jobs:
  test:
    runs-on: [self-hosted, Windows, iis, dcmate]

    steps:
      - name: Show runner info
        shell: pwsh
        run: |
          Write-Host "Runner name: $env:RUNNER_NAME"
          Write-Host "Machine name:"
          hostname
          Write-Host "User:"
          whoami

      - name: Check .NET
        run: dotnet --version

      - name: Check IIS
        shell: pwsh
        run: |
          Import-Module WebAdministration
          Get-Website | Select-Object Name, State
